table.ranklist, table.ranklist tr, table.ranklist tr th, table.ranklist tr td {
	background: #ffffff;
	border: 2px solid #ffffff;
}

table.ranklist th, table.ranklist .value {
	text-align: center;
}

table.ranklist tr th {
	background: #eeeeee;
}

table.ranklist tr td.tier0 {
	background: #ffffff;
}

table.ranklist tr td.tier1 {
	background: #f1f7f1;
}

table.ranklist tr td.tier2 {
	background: #e2efe2;
}

table.ranklist tr td.tier3 {
	background: #d3e7d3;
}

table.ranklist tr td.tier4 {
	background: #c4dfc4;
}

table.ranklist tr td.tier5 {
	background: #b5d7b5;
}

table.ranklist tr td.tier6 {
	background: #a6cfa6;
}

table.ranklist tr td.tier7 {
	background: #97c797;
}

table.ranklist tr td.tier8 {
	background: #88bf88;
}

table.ranklist tr td.tier9 {
	background: #79b779;
}

table.ranklist tr td.tier10 {
	background: #6aaf6a;
}

table.ranklist tr:hover td {
	background: #eeeeee;
}

td.changed {
	background: #00c600;
	-moz-animation: changedAnimation 3s ease 0s forwards;
	-webkit-animation: changedAnimation 3s ease 0s forwards;
	-o-animation: changedAnimation 3s ease 0s forwards;
	animation: changedAnimation 3s ease 0s forwards;
}

@keyframes changedAnimation {
	to { background: #ffffff; }
}

@-webkit-keyframes changedAnimation {
	to { background: #ffffff; }
}

#clock {
	font-size: 14pt;
	text-align: center;
}
