.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	background-color: transparent;
	color: #999999;
}

div.side-nav {
	padding: 20px 0;
}

div.side-nav ul.nav-list li a {
	padding: 3px 20px;
}

div.side-nav ul.nav-list li a.active {
	background: #337ab7;
	color: #ffffff;
}

textarea {
	resize: vertical;
}

#clock {
	font-size: 14pt;
	text-align: center;
	margin: 10px 0;
}
